<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container p-lg-5">
        <div th:if="${title}">
            <h3 class="text-center fw-bold" th:text="${title}"></h3>
        </div>
        <div class="form-container" style="width: 500px;">
            <form class="" method="post" th:action="@{/users/save}" th:object="${user}">

                <div class="text-center alert alert-danger mx-auto mb-4" th:if="${error}">
                    <h6>There was an issue.</h6>
                    <span class="response-info"  th:text="${error}"></span>
                </div>

                <input type="hidden" th:value="*{id}" th:field="*{id}">
                <div class="form-row">
                    <div class="col-5 form-col">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text" th:field="*{username}" minlength="5" required>
                    </div>
                    <div class="col-7 form-col">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" th:value="${email}" th:field="*{email}" minlength="5" required>
                    </div>
                </div>
                <div class="form-row">

                    <!--<div th:if="${title} == 'New user'">-->
                    <div class="col form-col">
                        <label class="form-label">password</label>
                        <input  class="form-control" th:value="*{password}" type="text" th:field="*{password}" minlength="5" required>
                    </div>

                    <div class="col form-col">
                        <label class="form-label">Confirm password</label>
                        <input  class="form-control" th:value="*{repeatPassword}" type="text" th:field="*{repeatPassword}" minlength="5" required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col form-col">
                        <label class="form-label">Gender</label>
                        <select th:value="${gender}" class="form-control" th:field="*{gender}">
                            <option th:value="'NA'" th:text="Select"></option>
                            <option th:value="'MALE'" th:text="Male"></option>
                            <option th:value="'FEMALE'" th:text="Female"></option>
                            <option th:value="'APACHE_HELICOPTER'" th:text="'Apache Helicopter'"></option>
                        </select>
                     </div>
                    <div class="col form-col">
                        <label class="form-label">Role</label>
                        <select th:value="${role}" class="form-control" th:field="*{role}">
                            <option th:value="'DEFAULT'" th:text="Default"></option>
                            <option th:value="'ADMIN'" th:text="Admin"></option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <button class="w-auto m-auto btn btn-primary" type="submit">Save</button>
                    <button onclick="window.history.back()" class="w-auto m-auto btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>