


.terms {
    background: white;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 3px;
}

.become-member {
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    border: 3px black solid;
}

.home-page {

}