


#navBar {

}




.terms {
    background: white;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 3px;
}

.become-member {
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    border: 3px black solid;
}


.display-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /*margin-top: 200px*/
}

.companyName {
    text-transform: capitalize;
    font-weight: bold;
    /*color: darkgoldenrod;*/
}

.home-page {

}