

#roulette-wheel-parent {
    position: relative;
    top: 0;
    left: 0;
}
#roulette-wheel {
    position: relative;
    top: 0;
    left: 0;
}

#roulette-arrow {
    top: 0;
    left: 50px;
    /*
    top: 30px;
    left: 30px;
     */
    position: absolute;
    transition-duration: 1s;

}

#roulette-container {
    background: #185b42;
    padding: 36px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid #000;
}

#roulette-heading {
    font-weight: bolder;
    font-size: 50px;
}

#roulette-button-container > .col > .game-button {
    border: 3px solid black;
}

.roulette-row {
    margin: auto;
}

.roulette-num {
    color: white;
    width: 116px;
    /*
    height: 69px;
     */
    text-align: center;
    padding: -15px;
    border: 1px solid white;
}

.roulette-bet-input {
    width: 50px;
    background: #d2d2d2;
}

.red {
    background-color: #ce2e2e;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}

.roulette-number-win {
    background-color: gold;
}

@keyframes wheelRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
