




.slot {
    background-color: blue;
    height: 600px;
    width: 700px;
    margin: auto;
    padding: 30px;
    border: 5px solid white;
}


.slot-interface {
    background-color: mediumpurple;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
}


.win-text {
    color: green;
    font-size: 35px;
    text-decoration: black;
}

.slot-fast-mode, .slot-sound-button {
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    margin: auto;
}




.slot-bet-section > label, .slot-balance-section > label, .slot-win-section > label {
    font-size: 25px;
}


.wheel-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px 0px;
}

#slot-wheel-1, #slot-wheel-2, #slot-wheel-3 {
    background-size: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    display: inline-block;
}


.game-button {
    background: #dc3545;
    padding: 1px 5px 5px 5px;
    border: 3px solid gold;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    align-content: center;
}
.game-button > label {
    margin: 0;
    font-weight: bolder;
    color: gold;
    font-size: 100%;
    text-transform: uppercase;
}
.game-button-input {
    background: #202020;
    color: green;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}


#slots-spin {
    border-radius: 45px;
}

.tile-0 {
    background-image: url("/images/slots/0.png");
}
.tile-1 {
    background-image: url("/images/videopoker/H10.png");
}
.tile-2 {
    background-image: url("/images/slots/2.png");
}
.tile-3 {
    background-image: url("/images/slots/3.png");
}
.tile-4 {
    background-image: url("/images/slots/4.png");
}
.tile-5 {
    background-image: url("/images/slots/5.png");
}
.tile-6 {
    background-image: url("/images/slots/6.png");
}
.tile-7 {
    background-image: url("/images/slots/7.png");
}
.tile-8 {
    background-image: url("/images/slots/8.png");
}