













.C2  { background-image: url("/images/videopoker/2C.png");}
.D2  { background-image: url("/images/videopoker/2D.png");}
.H2  { background-image: url("/images/videopoker/2H.png");}
.S2  { background-image: url("/images/videopoker/2S.png");}

.C3  { background-image: url("/images/videopoker/3C.png");}
.D3  { background-image: url("/images/videopoker/3D.png");}
.H3  { background-image: url("/images/videopoker/3H.png");}
.S3  { background-image: url("/images/videopoker/3S.png");}

.C4  { background-image: url("/images/videopoker/4C.png");}
.D4  { background-image: url("/images/videopoker/4D.png");}
.H4  { background-image: url("/images/videopoker/4H.png");}
.S4  { background-image: url("/images/videopoker/4S.png");}

.C5  { background-image: url("/images/videopoker/5C.png");}
.D5  { background-image: url("/images/videopoker/5D.png");}
.H5  { background-image: url("/images/videopoker/5H.png");}
.S5  { background-image: url("/images/videopoker/5S.png");}

.C6  { background-image: url("/images/videopoker/6C.png");}
.D6  { background-image: url("/images/videopoker/6D.png");}
.H6  { background-image: url("/images/videopoker/6H.png");}
.S6  { background-image: url("/images/videopoker/6S.png");}

.C7  { background-image: url("/images/videopoker/7C.png");}
.D7  { background-image: url("/images/videopoker/7D.png");}
.H7  { background-image: url("/images/videopoker/7H.png");}
.S7  { background-image: url("/images/videopoker/7S.png");}

.C8  { background-image: url("/images/videopoker/8C.png");}
.D8  { background-image: url("/images/videopoker/8D.png");}
.H8  { background-image: url("/images/videopoker/8H.png");}
.S8  { background-image: url("/images/videopoker/8S.png");}

.C9  { background-image: url("/images/videopoker/9C.png");}
.D9  { background-image: url("/images/videopoker/9D.png");}
.H9  { background-image: url("/images/videopoker/9H.png");}
.S9  { background-image: url("/images/videopoker/9S.png");}

.C10  { background-image: url("/images/videopoker/10C.png");}
.D10  { background-image: url("/images/videopoker/10D.png");}
.H10  { background-image: url("/images/videopoker/10H.png");}
.S10  { background-image: url("/images/videopoker/10S.png");}

.C11  { background-image: url("/images/videopoker/JC.png");}
.D11  { background-image: url("/images/videopoker/JD.png");}
.H11  { background-image: url("/images/videopoker/JH.png");}
.S11  { background-image: url("/images/videopoker/JS.png");}

.C12  { background-image: url("/images/videopoker/QC.png");}
.D12  { background-image: url("/images/videopoker/QD.png");}
.H12  { background-image: url("/images/videopoker/QH.png");}
.S12  { background-image: url("/images/videopoker/QS.png");}

.C13  { background-image: url("/images/videopoker/KC.png");}
.D13  { background-image: url("/images/videopoker/KD.png");}
.H13  { background-image: url("/images/videopoker/KH.png");}
.S13  { background-image: url("/images/videopoker/KS.png");}

.C14  { background-image: url("/images/videopoker/AC.png");}
.D14  { background-image: url("/images/videopoker/AD.png");}
.H14  { background-image: url("/images/videopoker/AH.png");}
.S14  { background-image: url("/images/videopoker/AS.png");}

.back { background-image: url("/images/videopoker/KC.png");}
