<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">

<body>
    <div layout:fragment="content">
        <div th:if="@{response}">
            <h1>Response: [[${response}]]</h1>
            <!--
            <th:block th:switch="${[[response]]}">
                <div th:case="'BAD_TOKEN'">
                    <h1 class="text-center text-danger">Bad token!!</h1>
                </div>
                <div th:case="'EXPIRED'">
                    <h1 class="text-center text-danger">This token is expired!!</h1>
                </div>
                <div th:case="'CONSUMED'">
                    <h1 class="text-center text-info">Your account is already activated.</h1>
                </div>
                <div th:case="'SUCCESS'">
                    <h1 class="text-center text-success">Your account was activated.</h1>
                </div>
            </th:block>
            -->
        </div>
    </div>
</body>
</html>