<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="form-container w-25 px-4">
            <form class="" method="post" th:action="@{/forgot-password/send}">
                <h3 class="text-center fw-bold mb-3">Forgot password</h3>

                <div th:if="${email}" class="text-center alert alert-success mx-auto mb-4">
                    <h6>Email sent!</h6>
                    <span class="response-info">
                        Please follow further instructions on the email sent to <a th:text="${email}"></a>
                    </span>
                </div>
                <div th:if="${init}">
                    <span class="response-info text-center">
                        Please provide your email address.
                    </span>
                </div>

                <div class="alert alert-danger mx-auto mb-4" th:if="${error}">
                    <h6>Password reset attempt failed.</h6>
                    <span class="response-info" th:text="${error}"></span>
                </div>





                <div class="form-row">
                    <label class="form-label-extra">Email</label>
                    <input class="form-control" th:field="*{user.email}" th:value="${user.email}" name="email" type="email" minlength="5" required>
                </div>





                <div class="form-row my-4 mx-auto">
                    <button class="w-75 mx-auto btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>