<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="form-container w-25 px-4">
            <form class="" method="post" th:action="@{/forgot-password/send}">
                <h3 class="text-center fw-bold mb-3">Forgot password</h3>

                <div th:if="${response}" class="text-center alert alert-success mx-auto mb-4">
                    <h6>Email sent!</h6>
                    <span class="response-info">
                        You may reset your password by replying to our email sent to <a th:text="${response}"></a>
                    </span>
                </div>
                <div th:unless="${response}">
                    <span class="response-info text-center">
                        In order to reset your password you
                        need to provide the email used to create
                        the account.
                    </span>
                </div>

                <div class="alert alert-danger mx-auto mb-4" th:if="${error}">
                    <h6>Login attempt failed.</h6>
                    <span class="response-info">Make sure the provided email and password are correct.</span>
                </div>

                <div class="form-row">
                    <label class="">Email</label>
                    <input class="form-control" th:field="*{user.email}" th:value="${user.email}" name="email" type="email" minlength="5" required>
                </div>

                <div class="form-row my-4 mx-auto">
                    <button class="w-75 mx-auto btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>