<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="form-container w-25 px-4">
            <form class="" method="post" th:action="@{/login}">
                <h3 class="text-center fw-bold mb-3">Login</h3>

                <div th:if="${passwordChange}" class="alert alert-success text-center">
                    <h4>Password changed!</h4>
                    <span class="response-info">
                        You may now login with your new password.
                    </span>
                </div>
                <div th:if="${success}" class="alert alert-success text-center">
                    <h4>Account crated!</h4>
                    <span class="response-info">
                        You may now login.
                    </span>
                </div>
                <div class="alert alert-danger mx-auto mb-4" th:if="${error}">
                    <h6>Login attempt failed.</h6>
                    <span class="response-info">Make sure the provided email and password are correct.</span>
                </div>

                <div class="form-row">
                    <label class="form-label-extra">Email</label>
                    <input class="form-control" name="username" type="email" minlength="5" required>
                </div>
                <div class="form-row">
                    <label class="form-label-extra">Password</label>
                    <input  class="form-control" name="password" type="password" inlength="5" required>
                </div>
                <div class="form-row my-4 mx-auto">
                    <button class="w-75 mx-auto btn btn-primary" type="submit">Login</button>
                </div>
                <div class="center-form-row form-row-minor text-center py-2">
                    <span>No account? <a href="/register">Sign up</a></span>
                </div>
                <div class="center-form-row form-row-minor text-center mb-0 px-2">
                    <span><a href="/forgot-password">Forgot password?</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>