<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container p-lg-5">
        <h3 class="text-center fw-bold">Register</h3>
        <div class="p-lg-3 bg-white rounded-3 shadow w-25 mx-auto">
            <form class="" method="post" th:action="@{/register/save}" th:object="${loginUser}">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" th:field="*{username}" minlength="5" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" minlength="5" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input  class="form-control" type="password" th:field="*{password}" minlength="5" required>
                </div>
                <!--
                <div class="w-50 mb-3">
                    <label>Gender</label>
                    <select th:field="*{gender}">
                        <option value="0">Select</option>
                        <option th:value="'MALE'" th:text="Male"></option>
                        <option th:value="'FEMALE'" th:text="Female"></option>
                        <option th:value="'APACHE_HELICOPTER'" th:text="'Apache Helicopter'"></option>
                    </select>
                </div>
                -->
                <div class="row mb-3">
                    <span>Already registered? <a href="/login">Sign in</a></span>
                </div>
                <div class="row mb-3">
                    <button class="w-auto m-auto btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>