<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="form-container" style="width: 500px;">
            <form class="" method="post" th:action="@{/register/save}" th:object="${loginUser}">
                <h3 class="text-center fw-bold mb-3">Sign up</h3>

                <div class="text-center alert alert-danger mx-auto mb-4" th:if="${error}">
                    <h6>There was an issue.</h6>
                    <span class="response-info"  th:text="${error}"></span>
                </div>
                <div class="text-center alert alert-success mx-auto mb-4" th:if="${success}">
                    <h6>Thank you for signing up.</h6>
                    <span class="response-info">
                        Please activate your account by replying to our email sent to <a th:text="${confirmEmail}"></a>
                    </span>
                </div>

                <!--<input type="hidden" th:field="*{id}">-->
                <div class="form-row">
                    <div class="col-5 form-col">
                        <label class="form-label">Username</label>
                        <input class="form-control" type="text" th:field="*{username}" minlength="5" required>
                    </div>
                    <div class="col-7 form-col">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" th:value="${email}" th:field="*{email}" minlength="5" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-col">
                        <label class="form-label">Password</label>
                        <input  class="form-control" type="password" th:field="*{password}" minlength="5" required>
                    </div>
                    <div class="col form-col">
                        <label class="form-label">Repeat password</label>
                        <input  class="form-control" type="password" th:field="*{repeatPassword}" minlength="5" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 form-col">
                        <label class="form-label">Firstname</label>
                        <input class="form-control" type="text" th:value="${firstname}" th:field="*{firstname}" required>
                    </div>
                    <div class="col-6 form-col">
                        <label class="form-label">Surname</label>
                        <input class="form-control" type="text" th:value="${surname}" th:field="*{surname}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-col">
                        <label class="form-label">Gender</label>
                        <select class="form-control" th:field="*{gender}">
                            <option th:value="'NA'" th:text="Select"></option>
                            <option th:value="'MALE'" th:text="Male"></option>
                            <option th:value="'FEMALE'" th:text="Female"></option>
                            <option th:value="'APACHE_HELICOPTER'" th:text="'Apache Helicopter'"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="checkbox-wrapper">
                        <input th:checked="${hasAcceptedTermsAndConditions}" th:field="*{hasAcceptedTermsAndConditions}" type="checkbox" id="terms" class="checkbox">
                        <label class="checkbox-label" for="terms">I have read and agree to the <a href="/terms" target="_blank">terms and conditions</a></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="checkbox-wrapper">
                        <input th:checked="${eligible}" th:field="*{eligible}" type="checkbox" id="eligible" class="checkbox">
                        <label class="checkbox-label" for="eligible">I am 18 years old or older</label>
                    </div>
                </div>
                <div class="row mb-3 mt-5">
                    <button class="w-auto m-auto btn btn-primary" type="submit">Register</button>
                </div>
                <div class="row">
                    <span class="text-center">Already a member? <a href="/login">Sign in</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>