<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
</head>

<body class="home-page">
    <div layout:fragment="content">

        <!--
        <div sec:authorize="isAuthenticated()" class="text-center fw-bolder">
            <h1>
                Welcome <span th:text="${user.getUsername()}"></span>!
            </h1>
        </div>
        -->

        <div sec:authorize="isAnonymous()" class="become-member">
            <h1 class="fw-bolder">Membership</h1>
            <span class="h3 fw-bold">Become a member today and get 100 FREE credits!</span>
            <br>
            <a class="h4 fw-bold" href="/register">Sign up</a>
        </div>

        <div sec:authorize="isAuthenticated()">

            <div th:if="${verificationResponse}">
                <div th:if="${verificationResponse} == 'SUCCESS'" class="rounded-3 border-5 w-50 m-auto alert alert-success text-center">
                    <h1>Congratulations!</h1>
                    <span class="response-info h3">
                        Your account was verified!
                        100 credits have been added to your account.
                    </span>
                </div>
                <div th:unless="${verificationResponse} == 'SUCCESS'" class="alert alert-danger text-center">
                    <h4>There was an issue.</h4>
                    <span class="response-info" th:text="${response}"></span>
                </div>
            </div>
            <div th:if="${not_verified}" th:unless="${verificationResponse}" class="become-member">

                <div th:if="${verify}">
                    <h1 class="fw-bolder">Check your inbox!</h1>
                    <span class="h6 fw-bold">
                        Please follow further instructions on email sent to [[${user.getEmail()}]]
                    </span>
                </div>
                <div th:unless="${verify}">
                    <h1 class="fw-bolder">Welcome [[${user.getFirstname()}]]!</h1>
                    <span class="h5 fw-bold">
                        Thank you for joining us [[${user.getFirstname()}]]!
                        Verify your email now and claim your 100 FREE credits!
                    </span>
                    <br>
                    <a class="h4 fw-bold" href="/verify">Send verification email.</a>
                </div>
            </div>

        </div>


    </div>
</body>

</html>